/*HEADER FULL WIDTH BACKGROUND IMAGE*/

/*.wide {
  height: 100%;
  background-image:url('../images/tr-banner.jpg');
  background-size:100%;
  background-repeat: no-repeat;
}*/

.image-header {
  margin-top: 51px; //push below navigation
  align-content: center;
}

.header-container {
  width: 100%;
  height: 100%;
  border-left: none;
  border-right: none;
  position: relative;
  padding: 20px;
}

.video-container {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

video {
  position: absolute;
  z-index: -1;
  opacity: 0.77;
  width: 100%;
}

h1 {
  z-index: 1;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25%;
  border: 3px solid;
  padding: 10px;
  border-radius: 15px;
  width: 50%;
  letter-spacing: 3px;
  font-size: 25px;
}

h3 {
  z-index: 1;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  letter-spacing: 3px;
  font-size: 25px;

}

.navbar-nav img {
align-items: right;
  width: 70px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  /*height: 60px;*/
  background-color: #4C6B7F;
  margin-top: 15px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 10px 15px 0;
}
.container .text-muted {
  margin: 10px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.list-group-item {
	border: none;
}
